<!doctype html>
<html class="default no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="VS Code API 是一系列你可以在 Visual Studio Code 扩展中调用的 JavaScript API，这个站点列出了扩展开发者可以使用的所有 vscode api 中文文档，是 vscode 插件开发必备。">
	<meta name="author" content="洛竹">
	<meta name="copyright" content="洛竹">
	<meta property="og:title" content="Vscode Api 中文文档" />
    <meta property="og:type" content="docs">
	<meta property="og:image" content="https://code.visualstudio.com/favicon.ico" />
    <meta property="og:url" content="https://vscode-api-cn.js.org/index.html">
    <meta property="og:site_name" content="Vscode Api 中文文档">
	<meta property="og:description" content="VS Code API 是一系列你可以在 Visual Studio Code 扩展中调用的 JavaScript API，这个站点列出了扩展开发者可以使用的所有 vscode api 中文文档，是 vscode 插件开发必备。">
    <meta property="article:tag" content="vscode api">
    <meta property="article:tag" content="vscode api 中文文档">
    <meta property="article:tag" content="vscode 插件">
    <meta property="article:tag" content="vscode 插件开发">
	<meta property="article:tag" content="vscode {{project.name}}">
	<meta property="article:tag" content="vscode {{model.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="monetag" content="99735243bed78e7a2714c739b424af83">
    <link rel="shortcut icon" href="https://code.visualstudio.com/favicon.ico" sizes="128x128">
	<link rel='canonical' href='https://vscode-api-cn.js.org/{{url}}' />
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script async src="{{relativeURL "assets/js/search.js"}}" id="search-script"></script>
	{{!-- 百度站长验证 --}}
	<meta name="baidu-site-verification" content="codeva-3X25ouCcqY" />
	{{!-- google adsense --}}
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7962287588031867" crossorigin="anonymous"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4TRRS1LB1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-T4TRRS1LB1');
	</script>
    <style>
        .container-main {
            padding-bottom: 50px;
        }
    </style>
</head>
<body>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
			<div class="tsd-panel tsd-typography">
				<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7962287588031867" data-ad-slot="2140558196" data-ad-format="auto" data-full-width-responsive="true"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</div>
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>(function(d,z,s){s.src='https://'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('outsliggooa.com',6451232,document.createElement('script'))</script>
{{> analytics}}
</body>
</html>
