<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="VS Code API 是一系列你可以在 Visual Studio Code 扩展中调用的 JavaScript API，这个站点列出了扩展开发者可以使用的所有 vscode api 中文文档，是 vscode 插件开发必备。">
	<meta name="author" content="洛竹">
	<meta name="copyright" content="洛竹">
    <meta property="og:type" content="docs">
    <meta property="og:url" content="https://vscode-api-cn.js.org/index.html">
    <meta property="og:site_name" content="Vscode Api 中文文档">
    <meta property="article:tag" content="vscode api">
    <meta property="article:tag" content="vscode api 中文文档">
    <meta property="article:tag" content="vscode 插件">
    <meta property="article:tag" content="vscode 插件开发">
	<meta property="article:tag" content="vscode {{model.name}}">
	<meta property="og:description" content="VS Code API 是一系列你可以在 Visual Studio Code 扩展中调用的 JavaScript API，这个站点列出了扩展开发者可以使用的所有 vscode api 中文文档，是 vscode 插件开发必备。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://code.visualstudio.com/favicon.ico" sizes="128x128">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script async src="{{relativeURL "assets/js/search.js"}}" id="search-script"></script>
	{{!-- 谷歌广告 --}}
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4070818774984451" crossorigin="anonymous"></script>
	{{!-- monetag --}}
	<meta name="monetag" content="eb1e3d5247d1754d0fd449f7b99b110d">
	{{!-- adcash --}}
	<meta name="a.validate.02" content="FfmmKD6EanKVetA49MTlFFi-untsfhnAgRiw" />
	<script type="text/javascript">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
			t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "g1cbw4nxoq");
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4TRRS1LB1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-T4TRRS1LB1');
	</script>
    <style>
        .container-main {
            padding-bottom: 50px;
        }
    </style>
</head>
<body>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
				<div style="width: 200px">
					<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=cMnk-gSDNcAzNMMm67U8rWRaHnjUc0Xb0giSGndepK4"></script>
				</div>
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
{{> analytics}}
{{!-- monetag --}}
{{!-- In-Page Push（Banner） --}}
<script>(function (d, z, s) { s.src = 'https://' + d + '/400/' + z; try { (document.body || document.documentElement).appendChild(s) } catch (e) { } })('offfurreton.com', 5772070, document.createElement('script'))</script>
{{!-- 插页式横幅 --}}
{{!-- <script async="async" data-cfasync="false" src="//ophoacit.com/1?z=5772074"></script> --}}
{{!-- 小插图横幅 --}}
{{!-- <script>(function (d, z, s) { s.src = 'https://' + d + '/401/' + z; try { (document.body || document.documentElement).appendChild(s) } catch (e) { } })('glizauvo.net', 5773412, document.createElement('script'))</script> --}}
{{!-- adcash --}}
{{!-- 插页式横幅 --}}
<script data-cfasync="false" type="text/javascript" src="//predictiondisplay.com/a/display.php?r=6814154"></script>
</body>
</html>
